.wrapper {
  width: 680px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group {
  width: 100%;
}

.shortcut-form {
  margin-bottom: 40px;
  min-width: 100px;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shortcut-form__input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  color: #4d515b;
}
